/.settings/
/target/
.iws
*.war
.classpath
.DS_Store
.project
.settings
/*.launch
/*.tmproj
/out/**
stacktrace.log
test/reports
*Db.properties
*Db.script
eclipse
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
*.dia.autosave
*.*~
/.link_to_grails_plugins
/target-eclipse
/bin
/log
*.log
*.log.xml
*.log.xml1
.groovy/
.idea/
*.iml
/classes/
grails-app/conf/tadoAppInfo.properties
*~
org.eclipse.*
